<p> This is the listings index page view </p>

<% @listings.each do |listing| %>
<%= listing.summary %>
<%= listing.address %>
<%= listing.home_type %>
<%= listing.listing_type %>
<%= listing.bathroom %>
<%= listing.bedroom %>
<%= listing.accommodate %>
<%= link_to 'Show', listing_path(listing) %> 
<% end %>

<%= link_to 'Create New Listing', new_listing_path %> 
<%= link_to 'Home', root_path %> 