
<div class="row">
	<div class="col-sm-8">
<% @listings.each do |listing| %>
	<img src="heart.png" class="img-responsive" alt="Heart" style="display:inline; width: 100px; height: 100px;"><br>
	<%= listing.summary %><br>
	$<%= listing.price %>/night<br>
	<%= listing.listing_type %><br>
	<%= listing.home_type %><br>
	<button type="button" class="btn btn-default bottom5"><%= link_to 'Show', listing_path(listing) %></button><br>
	<% end %>
	</div>
<div class="col-sm-4"><button type="button" class="btn btn-default bottom5"><%= link_to 'Create New Listing', new_listing_path %></button>
	<button type="button" class="btn btn-default bottom5"><%= link_to 'Home', root_path %></button></div>
</div>