<h1> HOME </h1>

<% if signed_in? %>
  <%= current_user.email %>
  <%= button_to "Sign out", sign_out_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", sign_in_path %>
  <%= link_to t(".sign_up"), sign_up_path %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>