<!DOCTYPE html>
<html>
  <head>
    <title>Wherebnb</title>
    <!-- style scripts -->
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application',
                                media: 'all',
                                'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!-- style scripts end -->
  </head>
  <body>
  <div id="flash">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>
  </div>

     <!-- yield to all other html.erb files (body) -->
  <%= yield %>
  </body>
</html>

